/* FamilyViewer.css */

.family-container {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.family-members {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.avatar {
  width: 80px;
  height: 80px;
  background-color: #d4cdcd;
  border-radius: 50%;
  margin: auto;
}

.name {
  margin-top: 0.5rem;
}

.children {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.child-button {
  padding: 0.5rem 1rem;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.child-button:hover {
  background-color: #1d4ed8;
}
